<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/main.css"> 
    <script type="module" src="/scripts/"></script>
    {{!-- Anne: head content, url css et js ajoutés --}}

</head>

<body>
  {{> shop_nav}}
  {{{body}}}
  {{> shop_footer}}
</body>

</html>