<div class="big-container product-manage-wrapper flexed-item">
  <form action="/prod-add" method="post" class="add-product-form">
    {{!-- Anne : method="get" --> method="post" + suppr:  enctype="multiparty/form-data" --}}
    {{#if msg}}
    <p class="msg {{msg.status}}">{{msg.txt}}</p> {{!-- Anne : added an s to status --}}
    {{/if}}
    <h3 class="form-title">Add sneakers to the collection</h3>

    {{!-- Anne : modifs gnrl:  
    -added a name for each input
    - deleted the placeholders (default values are enough)--}}
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-name" class="label-name label">Model name</label>
      <input="sneaker-name" name="name" type="text" class="input-text input" placeholder="Nike Air Max 90"
        {{!-- Anne : inpuid --> input --}} value="air max 1">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-ref" class="label-ref label">Réf.</label>
      <input id="sneaker-ref" name="ref" type="text" class="input-text input" value="NV23498">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-size" class="label-ref label">Size</label>
      <input id="sneaker-size" name="size" type="number" class="input-text input" value="42">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-descr" class="label-descr label">Description</label>
      <input id="sneaker-descr" type="text" class="input-text input" value="sneeky sneaker">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-price" class="label-price label">Price</label>
      <input id="sneaker-price" name="price" type="number" class="sneaker-price input" min="1" value="123">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-img" class="label-price label">Image</label>
      <input id="sneaker-img" name="img" type="file" class="sneaker-price input">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="category" class="label-main-cat label">Main category</label>
      <select id="category" class="select" required>
        <option value="-1" disabled selected>Choose a category</option> 
        {{!-- Anne : j'imagine que ça permet de suppr la sélection de categ mais ça me paraît louche --}}
        <option value="men">Men</option>
        <option value="women">Women</option>
        <option value="kids">Kids</option>
      </select>
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="tags" class="label">Tags</label>
      {{> form_tags_select}}
    </div>
    <button class="button-primary add-sneaker-btn">Add to collection</button>
  </form>

  <div class="add-tag-form">
    <p id="add-tag-message" class="msg"></p>
    <h3 class="form-title">Add tags</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="category-name" class="category-name label">Sneaker tag</label>
      <input id="new_tag_name" name="tag-name" type="text" class="input" value="Gangsta">
    </div>
    <button id="btn_new_tag" class="button-primary add-category-btn">Create this category</button>
  </div>
</div>